{
  "extends": [
    "airbnb-base"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "node": true,
    "jest": true
  },
  "globals": {
    "fetch": true,
    "navigator": true
  },
  "rules": {
    "import/no-named-as-default": [0],
    "max-len": [2, 120, 2, {
      "ignoreUrls": true,
      "ignoreComments": false,
      "ignoreTemplateLiterals": true
    }],
    "function-paren-newline": [0],
    "arrow-body-style": ["error", "always"],
    "class-methods-use-this": [0],
    "object-curly-newline": [0],
    "react/jsx-uses-vars": [2]
  }
}
