.DS_Store
.env

build/
node_modules/
npm-debug.log
yarn-error.log

# iOS/xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
ios/main.jsbundle
ios/main.jsbundle.meta

# Android/IntelliJ
.idea
.gradle
local.properties
*.iml
